.basic-card.education{
    text-align: left; 
}
.btn.delete {
    width: 65px;
    height: auto;
    background: red;
    color: white;
}
.education {
    display: inline-block;
}
.content.title{
    margin: 0;
    text-align: left;
    overflow: auto;
    font-size: large;
}
.education ul {
    padding-left: 20px;
}
.education p {
    font-weight: 100;
}

