.title{
    text-align: center;
    font-size: 25px;
    font-weight: 900px;
}

.header {
    font-size: 17px; 
    font-weight: 700;
    overflow: auto;
}

.line hr{
    border: 10px solid black !important;
}
img{
    padding-right: 10px;
    float: left;
    width: 2em;
    padding: none;
}
.ui.header::-webkit-scrollbar{
    display: none;
}

.basic-card {
    padding: 40px;
    background: rgb(255, 255, 255);
    max-width: 90vw;
    min-width: 300px;
    height: auto;
    overflow-y: hidden;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 70%);
}
.basic-card button {
    padding-right: 20px;
    justify-self: right !important;
}
.para p{
    font-weight: 300; 
    font-size: 15px;
}
.my-container {
    padding-left: 15px;
    padding-right: 35px;
    display: grid;
    grid-gap: 20px 50px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.my-container span{
    display: inline;
}


.git {
    overflow: hidden;
}
.git:active {
    overflow-x: scroll;
}
.git:hover {
    overflow-x: scroll;
}

.prog-logo {
    max-width: 10%;
    max-height: 30px;
}


