.prog-container{
    display: grid;
    grid-gap: 20px 0px;
    grid-template-columns: repeat(auto-fill, minmax(220px, .5fr));
}

.program-list ul{
    overflow: auto;
    display: inline;
    width: 50%;
    text-align: left;
}
.prog-card {
    text-align: center;
    padding: 10px;
    background: rgb(255, 255, 255);
    width: 150px;
    height: auto;
    border-radius: 20px;
    margin: 5px auto;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 70%);
}