.icon-left{
    position: fixed;
    top: 10px;
    left: 10px;
}
.icon-top-right{
    position: fixed;
    top: 10px;
    right: 10px;
}

.icon-right{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.icon-bottom-left{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.season-display.winter i {
    color: blue;
}

.season-display.summer i {
    color: red;
}

.season-display{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 75vh;   
}

.winter{
    background-color: rgb(224, 238, 250);
}

.summer{
    background-color: orange;
}