
.top-card {
    border-style: solid;
    border-color: black;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(255, 255, 255);
    max-width: 90vw;
    min-width: 300px;
    height: auto;
    overflow-y: auto;
    border-radius: 20px;
    margin: 10px auto;
}