@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 1.1em;
}

ul, li, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}