
.nav-bar {
    border-radius: 3em;
    padding-left: 20px;
}
.nav-bar a{
    text-decoration: none;
}
.nav-bar .item{
    color: #262626;
    overflow: hidden;
    padding: 5px 10px;
}
.item.active{
    font-weight: bold;
}